<template>
    <div>
        <div class="text-center w-100 mt-5">
            <div v-if="loading">
                Data is loading...
            </div>
            <div v-else>
                <div v-if="isEditing">
                    <input type="text" v-model="post.title" class="form-control">
                    <br>
                    <textarea cols="50" rows="10" v-model="post.content" class="form-control mb-3"></textarea>

                    <button @click="editPost" class="btn btn-success mr-1" :disabled="editOngoing">{{editOngoing == true ? '...' : 'Save'}}</button>
                    <button @click="isEditing = !isEditing" class="btn btn-outline-danger">Cancel</button>
                </div>
                <div v-else>
                    <h2>{{post.title}}</h2>
                    <p>{{post.content}}</p>

                    <button @click="isEditing = !isEditing" class="btn btn-outline-dark mt-4">Edit this Post</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            loading : false,
            post : null,
            editOngoing : false,
            isEditing : false,
            blogPostId : this.$route.params.id
        }
    },
    methods: {
        getPost(){
            axios.get(`/api/posts/${this.blogPostId}`).then((response) => {
                this.post = response.data
                this.loading = false
            })
        },
        editPost(){
            this.editOngoing = true
            axios.patch(`/api/posts/${this.blogPostId}/update`, {title : this.post.title, content : this.post.content}).then((response) => {
                this.post = response.data
                this.editOngoing = false
            })
        }
    },
    async created() {
        this.loading = true
        await this.getPost()
    },
}
</script>
<style scoped>

</style>