<template>
    <div>
        <div class="card" style="width: 18rem;">
        <img src='https://picsum.photos/150/100' class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <router-link :to="{name:'blog-post', params: {id}}" class="btn btn-primary">View Post</router-link>
            <button @click="deletePost" class="btn btn-danger ml-1">Delete</button>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title:String,
        id:Number
    },
    methods: {
        deletePost()
        {
            this.$emit('delete-post', this.id)
        }
    },
    created()
    {
        
    }
}
</script>