<template>
    <div>
        <div class="container">
            <nav class="navbar navbar-dark bg-light">
                <h5 class="nav-brand"><router-link class="text-decoration-none text-dark" :to="{name: 'blog-posts'}">Blogedt.ph</router-link></h5>
                <router-link class="text-decoration-none text-dark" :to="{name: 'about'}">About Us</router-link>
            </nav>
            <router-view></router-view>
        </div>
    </div>
</template>

