<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="modal fade" id="create-post-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create New Post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="post-title">Title</label>
                                <input type="text" name="post-title" id="post-title" class="form-control" v-model="title">
                            </div>
                            <div class="form-group">
                                <label for="post-content">Content</label>
                                <textarea name="post-content" id="post-content" cols="30" rows="10" placeholder="What's on your mind?" class="form-control" v-model="content"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" v-if="posting">...</button>
                            <button type="button" class="btn btn-primary" v-else @click="addPost">Post</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="jumbotron shadow-sm">
                    <h1 class="display-4">Blogedt.ph</h1>
                    <hr class="my-4">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore perspiciatis, tenetur doloremque sint excepturi sit facilis culpa ex qui.
                        Commodi minima illum delectus impedit corporis blanditiis ex, quaerat voluptatum! Officiis?
                    </p>
                    <p class="lead">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-post-modal">Create New Post</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Posts</h3>
            <hr>
            <div v-if="loading">
                Data is loading...
            </div>
            <div class="row" v-else>
                <div v-for="post in posts" :key="post.id" class="col-4 mb-3 d-flex justify-content-center">
                    <BlogPostItem :title="post.title" :id="post.id" @delete-post="deletePost($event)"></BlogPostItem>
                </div>
            </div>
        </div>
        <div class="row" v-if="message !== null">
            <Alert :message="message"></Alert>
        </div>
        <div class="row" v-else>
            
        </div>  
    </div>
</template>
<script>
    import BlogPostItem from './children/BlogPostItem';
    export default {
        data() {
            return {
                posts: null,
                loading: false,
                message: null,
                title: null,
                content: null,
                posting: false
            }
        },
        components: {
            BlogPostItem
        },
        methods: {
            getPosts(){
                axios.get('/api/posts').then((response) => {
                    this.posts = response.data
                    this.loading = false
                }).catch((error) => {
                    this.message = error
                    this.loading = false
                })
            },
            addPost(){
                this.posting = true
                axios.post('/api/posts/store', {title:this.title, content:this.content}).then((response) => {
                    this.posts = response.data
                    this.title = null 
                    this.content = null
                    this.posting = false
                }).catch((error) => {
                    this.message = error
                })
            },
            deletePost(id)
            {
                axios.delete(`/api/posts/${id}/destroy`).then((response) => {
                    this.posts = response.data
                })
            }
        },
        async created() {
            this.loading = true

            await this.getPosts()
        },
    }
</script>

<style scoped>
    .jumbotron
    {
        border-radius: 20px;
    }
</style>
